body {
  font-size: 1rem;
  line-height: 1.6;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem;
}

.create-form {
  width: 50%;
  margin: 20px auto;
}

.btn {
  width: 200px;
}

a:hover {
  cursor: pointer;
}

.material-icons.delete:hover {
  color: red;
}

.material-icons.edit:hover {
  color: orange;
}


table {
  width: 100%;
}

.mat-snack-bar-container {
  text-align: center;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.update-form {
  width: 400px;
}

.example-container > * {
  width: 100%;
}
.mat-dialog-actions {
  padding: 0px 0;
  min-height: 9px;
  margin-bottom: 0px;
}
