
<section class="header" >
  <h3>Факультети</h3>
  <span class="fill-space"></span>
  <button
  mat-stroked-button
  class="btn" (click)='createFacultyDialog()'>
    <mat-icon aria-hidden="false" aria-label="add">add</mat-icon>
    Додати факультет</button>
</section>

<section class="container">
    <table
      mat-table
      [dataSource]="dataSource"
      #table
      class="my-table">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element">{{ element.faculty_id }}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Факультет</th>
        <td mat-cell *matCellDef="let element">{{ element.faculty_name }}</td>
      </ng-container>

      <ng-container matColumnDef="desc">
        <th mat-header-cell *matHeaderCellDef>Опис</th>
        <td mat-cell *matCellDef="let element">
          {{ element.faculty_description }}
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Дії</th>
        <td mat-cell *matCellDef="let element" class="action-link">
          <mat-icon aria-hidden="false" aria-label="edit" matTooltip="Редагувати" (click)="updateFacultyDialog(element)">edit</mat-icon>
          <mat-icon aria-hidden="false" aria-label="delete" matTooltip="Видалити" (click)="openConfirmDialog(element)">delete</mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
   
<app-paginator  [countRecords]="length" (changed)="onPaginationChanged($event)" (paginator)="getMatPagination($event)"></app-paginator>
</section>

