.numbersWrapper {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-right: 20 px;
}

.finishTest {
    margin-top: 40px;
    margin-left: 20px;
    width: 150px;
    height: 50px;
}