<mat-toolbar>
    <span>D-TESTER</span>
</mat-toolbar>
<ng-container *ngIf="!isTestDone">
    <div class="numbersWrapper">
        <app-question-menu-item
            *ngFor="let question of questions let i = index"
            [index]="i + 1"
            [question]="question"
            [addedQuestionAnswer]="addedQuestionAnswer"
            [markedQuestions]="markedQuestions"
            (viewQuestionOutput)="viewQuestionParent($event)"
         >
        </app-question-menu-item>
    </div>

    <app-question-answer
        [choosenQuestion]="choosenQuestion"
        [choosenAnswer]="choosenAnswer"
        (onAnswerChange)="addQuestionAnswer($event)"
        (mark)="addMarkedQuestion($event)"
     >
    </app-question-answer>

    <button class="finishTest" (click)="sendAnswersForCheck($event)">Завершити тест</button>
</ng-container>
<ng-container *ngIf="isTestDone">
    <p>
        Всього запитань: {{testResults.full_mark}}
    </p>
    <p>
        Правильних відповідей: {{testResults.number_of_true_answers}}
    </p>
    <button routerLink="/student/home">Вийти</button>
</ng-container>
