<h1 mat-dialog-title>Edit group info</h1>
<div mat-dialog-content>
  <mat-form-field class="example-full-width">
    <input
      matInput
      [(ngModel)]="data.group_name"
      placeholder="Name"
      class="example-full-width"
    />
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Speciality</mat-label>
    <mat-select [(ngModel)]="data.speciality_id" name="speciality_id">
      <mat-option
        *ngFor="let item of specialities"
        [value]="item.speciality_id"
      >
        {{item.speciality_name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Faculty</mat-label>
    <mat-select [(ngModel)]="data.faculty_id" name="faculty_id">
      <mat-option
        *ngFor="let item of faculties"
        [value]="item.faculty_id"
      >
        {{item.faculty_name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button mat-dialog-close cdkFocusInitial>Cancel</button>
  <button mat-raised-button [mat-dialog-close]="data" color="warn">
    Save
  </button>
</div>
