.container {
  margin: 1%;
}
table {
  width: 100%;
}
mat-form-field {
  width: 100%;
}
mat-icon {
  cursor: pointer;

  &:hover {
    &[aria-label="edit"] {
      color: orange;
    }
    &[aria-label="delete"] {
      color: red;
    }
  }
}

.button-wrapper {
  display: flex;
  justify-content: space-between;
  h3 {
      padding: 15px;
  }
  button {
    margin: 10px;
  }
}
.button-search button {
  margin: 10px;
}