<button mat-raised-button color="prime" (click)="viewGroupDialog('getGroupsBySpeciality')">
  <mat-icon aria-hidden="false" aria-label="search">search</mat-icon>
    Перегляд груп за спеціальністю
  </button>
  <button mat-raised-button color="prime" (click)="viewGroupDialog('getGroupsByFaculty')">
    <mat-icon aria-hidden="false" aria-label="search">search</mat-icon>
    Перегляд груп по інституту
  </button>
  <button mat-raised-button color="prime" (click)="addGroupDialog()">
    <mat-icon aria-hidden="false" aria-label="add">add</mat-icon>
    Додати нову групу
  </button>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <table mat-table #table [dataSource]="dataSource">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>№</th>
      <td mat-cell *matCellDef="let group; let rIndex = index;">{{ rIndex+1 }}({{group.group_id}})</td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Шифр групи</th>
      <td mat-cell *matCellDef="let group">{{ group.group_name }}</td>
    </ng-container>
    <ng-container matColumnDef="students">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let group">
        <button mat-raised-button color="primary" [routerLink]="['../Students', group.group_id]">
          Список студентів
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let group">
        <mat-icon aria-hidden="false" aria-label="edit" (click)="editGroupDialog(group)">edit</mat-icon>
        <mat-icon aria-hidden="false" aria-label="delete" (click)="openConfirmDialog(group)">delete</mat-icon>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
  ></mat-paginator>
  
