.container {
<<<<<<< HEAD
  margin: 1%;
=======
  margin: 0 auto;
  padding: 1rem;
}
button {
  margin-left: 5px;
>>>>>>> 7652a74582fc254c8de27826738c2f7c0882eb5e
}
table {
  width: 100%;
}
mat-form-field {
  width: 100%;
}
mat-icon {
  cursor: pointer;

  &:hover {
    &[aria-label="edit"] {
      color: orange;
    }
    &[aria-label="delete"] {
      color: red;
    }
  }
}

<<<<<<< HEAD
.button-wrapper {
=======
.title-box {
>>>>>>> 7652a74582fc254c8de27826738c2f7c0882eb5e
  display: flex;
  justify-content: space-between;
  h3 {
      padding: 15px;
  }
  button {
    margin: 10px;
  }
}
<<<<<<< HEAD
.button-search button {
  margin: 10px;
}
=======
.search-box button {
  margin: 10px;
}
>>>>>>> 7652a74582fc254c8de27826738c2f7c0882eb5e
