<div class="main-container">
    <mat-toolbar class="toolbar" color="primary">
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="sidenav.toggle()" *ngIf="(isSmall$ | async) || (isXSmall$ | async)">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
        <span>d-tester</span>
        <span class="fill-space"></span>

    <mat-nav-list *ngIf="!(isSmall$ | async) && !(isXSmall$ | async)">
      <a routerLinkActive="active" mat-button routerLink="faculties">Факультети</a>
      <a routerLinkActive="active" mat-button routerLink="group">Групи</a>
      <a routerLinkActive="active" mat-button routerLink="speciality">Спеціальності</a>
      <a routerLinkActive="active" mat-button routerLink="subjects">Предмети</a>
      <a routerLinkActive="active" mat-button routerLink="tests">Тести</a>
      <a routerLinkActive="active" mat-button routerLink="admin-user">Адміни</a>
    </mat-nav-list>
    <span class="fill-space"></span>
    <button mat-button [matMenuTriggerFor]="menu">
      {{ (currentUser$ | async)?.username }}
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logoutHandler()">Вийти</button>
    </mat-menu>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav class="sidenav" mode="over" [opened]="false">
      <mat-nav-list *ngIf="(isSmall$ | async) || (isXSmall$ | async)">
        <a mat-list-item (click)="sidenav.toggle()" routerLink="faculties">Факультети</a>
        <mat-divider></mat-divider>
        <a mat-list-item (click)="sidenav.toggle()" routerLink="group">Групи</a>
        <mat-divider></mat-divider>
        <a mat-list-item (click)="sidenav.toggle()" routerLink="speciality">Спеціальності</a>
        <mat-divider></mat-divider>
        <a mat-list-item (click)="sidenav.toggle()" routerLink="subjects">Предмети</a>
        <mat-divider></mat-divider>
        <a mat-list-item (click)="sidenav.toggle()" routerLink="tests">Тести</a>
        <mat-divider></mat-divider>
        <a mat-list-item (click)="sidenav.toggle()" routerLink="admin-user">Адміни</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-spinner></app-spinner>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
