<div class="main-container">
  <app-toolbar [sidenav]='sidenav' ></app-toolbar>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav class="sidenav" mode="over" [opened]="false">
      <mat-nav-list *ngIf="(isSmall$ | async) || (isXSmall$ | async)">
        <a mat-list-item (click)="sidenav.toggle()" routerLink="dashboard">{{'sidenav.dashboard'|translate}}</a>
        <mat-divider></mat-divider>
        <a mat-list-item (click)="sidenav.toggle()" routerLink="faculties"> {{'sidenav.faculties'|translate}} </a>
        <mat-divider></mat-divider>
        <a mat-list-item (click)="sidenav.toggle()" routerLink="group"> {{'sidenav.group'|translate}}</a>
        <mat-divider></mat-divider>
        <a mat-list-item (click)="sidenav.toggle()" routerLink="speciality">{{'sidenav.speciality'|translate}}</a>
        <mat-divider></mat-divider>
        <a mat-list-item (click)="sidenav.toggle()" routerLink="subjects">{{'sidenav.subjects'|translate}}</a>
        <mat-divider></mat-divider>
        <a mat-list-item (click)="sidenav.toggle()" routerLink="results">{{'sidenav.results'|translate}}</a>
        <mat-divider></mat-divider>
        <a mat-list-item (click)="sidenav.toggle()" routerLink="protocol">{{'sidenav.protocol'|translate}}</a>
        <mat-divider></mat-divider>
        <a mat-list-item (click)="sidenav.toggle()" routerLink="admin-user">{{'sidenav.admin-user'|translate}}</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-breadcrumbs></app-breadcrumbs>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
