.sidenav-container {
  flex: 1;
}

.sidenav {
  min-width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}


.mat-sidenav-fixed {
  position: absolute;
}

.main-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
}

.active {
  color: black;
}
