
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container [matColumnDef]="item.columnDef" *ngFor="let item of columns; let i = index">
    <th mat-header-cell *matHeaderCellDef>{{ item.header }}</th>
  <ng-container *ngIf="item.columnDef!=='action'">
    <td mat-cell *matCellDef="let element; let i = index">{{ item.header =='ID' ?  matPaginator.pageSize * matPaginator.pageIndex + i + 1 : element[item.columnDef] }}</td>
  </ng-container>
  <td mat-cell *matCellDef="let element" class="action-link">
     <mat-icon aria-hidden="false" [attr.aria-label]='action.aria_label' *ngFor="let action of item.actions"  [matTooltip]="action.matTooltip" (click)="getEvent(action,element)">{{action.icon}}</mat-icon>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<mat-paginator
  #matPaginator
  [pageSize]="pageSize"
  [pageSizeOptions]="pageSizeOptions"
  (page)="onPaginationChange($event)"
  showFirstLastButtons
></mat-paginator>