
mat-icon {
  cursor: pointer;

  &:hover {
    &[aria-label="edit"] {
      color: orange;
    }
    &[aria-label="delete"] {
      color: red;
    }
  }
}

.btn {
  width: 200px;
  margin: 10px 0;
}

a:hover {
  cursor: pointer;
}

.material-icons.delete:hover {
  color: red;
}

.material-icons.edit:hover {
  color: orange;
}

table {
  width: 100%;
}
.mat-elevation-z8 {
   box-shadow: none;
}