<section class="about_us">
    <div class="container">
        <div class="row">
            <div class="border"></div>
        </div>
        <div class="row">
            <div class="article">
                <div class="title">ПРО НАС</div>
                <div class="description1"> <strong>d-tester</strong>  - це веб-додаток розроблений для тестування студентів. 
                    Його основні компоненти це модуль адміністратора та модуль студента для здачі тестів.
                </div>
                <div class="description2"><strong>Back-end</strong> частина створена ментором <span class="italic">SoftServe IT Academy</span>
                    Юрієм Безгачнюком та розміщена на публічному репозиторії <a class="link" href="https://github.com/yurkovskiy/dtapi" target="_blank">GitHub</a><br>
                    <strong>Front-end</strong> частина створена командою розробників-студентів <span class="italic">SoftServe IT Academy</span> та
                    розміщена на публічному репозиторії <a class="link" href="https://github.com/roman89ua/IF-105.UI.dtapi.if.ua.io" target="_blank">GitHub</a>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="arrow"><i class="material-icons">keyboard_arrow_down</i></div>

<section class="charts">
    <h2 class="header"> Коротка статистика проекту</h2>
    <div class="charts_description">
        <div class="charts_description_item"><strong>d-tester Front-End</strong> написаний використовуючи фреймворк Angular, статистика цієї частини проекту наведена нижче
            <i class="material-icons">arrow_downward</i>
        </div>
        <div class="charts_description_item"><strong>d-tester Back-end</strong> написаний на мові програмування PHP з використанням фреймворку Kohana</div>
    </div>
    <div class="charts_container">
        <app-doughnut-chart class="charts_item"></app-doughnut-chart>
        <app-bars-chart class="charts_item"></app-bars-chart>
    </div>
</section>

<section class="team">
    <h2 class="header">Наша команда</h2>
    <div class="team_container">
        <div class="team_member">
            <div class="team_member_photo">
                <div class="flip-box">
                    <div class="flip-box-inner">
                      <div class="flip-box-front">
                        <img [src]="bezgachnyuk" 
                        alt="Github User Image" style="width:100%;height:100%">
                      </div>
                      <div class="flip-box-back">
                        <div class="icons">
                          <span style="width: 50px; height: 45px; background-color: black;">
                            <a href="#">
                              <i class="fa fa-facebook-f"></i>
                            </a>
                          </span>
                          <span style="width: 50px; height: 45px; background-color: black;">
                            <a href="#">
                              <i class="fa fa-linkedin"></i>
                            </a>
                          </span>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="team_member_description">
              <div class="header">Безгачнюк Юрій</div>
              <div class="info">Розробив <strong>Back-end</strong> частину проекту в якій реалізував 
              функціонал для створення, редагування видалення та перегляду сутностей, також реалізував
              безпекову компоненту даної частини проекту а також додатковий функціонал відповідно до специфіки
              проекту. Координував роботу команди <strong>Front-end</strong> розробників та перевіряв відновідність
              інтерфейсу користувача до вимог проекту.
              </div>
            </div>
        </div>
        <div class="team_member">
            <div class="team_member_photo">
                <div class="flip-box">
                    <div class="flip-box-inner">
                      <div class="flip-box-front">
                        <img [src]="zikratyi" 
                        alt="Github User Image" style="width:100%;height:100%">
                      </div>
                      <div class="flip-box-back">
                        <div class="icons">
                          <span style="width: 50px; height: 45px; background-color: black;">
                            <a href="#">
                              <i class="fa fa-facebook-f"></i>
                            </a>
                          </span>
                          <span style="width: 50px; height: 45px; background-color: black;">
                            <a href="#">
                              <i class="fa fa-linkedin"></i>
                            </a>
                          </span>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="team_member_description">
              <div class="header">Зікратий Сергій</div>
              <div class="info">Працював над <strong>Front-end</strong> частиною проекту, а саме над сутністю
                'Групи' де було реалізовано класичні операції додавання, видалення, редагування і перегляду.
                 Також працював над сутністю 'Результати', розробив декілька спільних діалогових вікон,
                розробив функціонал для експорту та імпорту питаня для тестування. Окрім того розробив декілька статистичних
                графіків для проекту.              
              </div>
            </div>
        </div>
        <div class="team_member">
            <div class="team_member_photo">
                <div class="flip-box">
                    <div class="flip-box-inner">
                      <div class="flip-box-front">
                        <img [src]="petryshyn" 
                        alt="Github User Image" style="width:100%;height:100%">
                      </div>
                      <div class="flip-box-back">
                        <div class="icons">
                          <span style="width: 50px; height: 45px; background-color: black;">
                            <a href="#">
                              <i class="fa fa-facebook-f"></i>
                            </a>
                          </span>
                          <span style="width: 50px; height: 45px; background-color: black;">
                            <a href="#">
                              <i class="fa fa-linkedin"></i>
                            </a>
                          </span>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="team_member_description">
              <div class="header">Петришин Роман</div>
              <div class="info">Працював над <strong>Front-end</strong> частиною проекту, а саме над сутністю
                'Студенти' де було реалізовано класичні операції додавання, видалення, редагування і перегляду.
                Також додав функціонал для додавання та редагування фотографій до сутності студентів, розробив
                спеціальне вікно для зручного перегляду студентів і функціонал для переведення студентів в іншу групу.
                Також реалізував графік рейтингу груп і даний компонент 'Про нас'.
              </div>
            </div>
        </div>
        <div class="team_member">
            <div class="team_member_photo">
                <div class="flip-box">
                    <div class="flip-box-inner">
                      <div class="flip-box-front">
                        <img [src]="kravtsiv" 
                        alt="Github User Image" style="width:100%;height:100%">
                      </div>
                      <div class="flip-box-back">
                        <div class="icons">
                          <span style="width: 50px; height: 45px; background-color: black;">
                            <a href="#">
                              <i class="fa fa-facebook-f"></i>
                            </a>
                          </span>
                          <span style="width: 50px; height: 45px; background-color: black;">
                            <a href="#">
                              <i class="fa fa-linkedin"></i>
                            </a>
                          </span>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="team_member_description">
              <div class="header">Кравців Костя</div>
              <div class="info">Працював над <strong>Front-end</strong> частиною проекту, а саме над сутністю
                'Спеціальності' де було реалізовано класичні операції додавання, видалення, редагування і перегляду.
                Також розробив більш зручний функціонал для переходу між сутностями. Окрім того розробив графік
                успішності відповідно до рівня питань. Також працював над спільним сервісом для запитів на сервер.
              </div>
            </div>
        </div>
        <div class="team_member">
            <div class="team_member_photo">
                <div class="flip-box">
                    <div class="flip-box-inner">
                      <div class="flip-box-front">
                        <img [src]="chykharivskyi" 
                        alt="Github User Image" style="width:100%;height:100%">
                      </div>
                      <div class="flip-box-back">
                        <div class="icons">
                          <span style="width: 50px; height: 45px; background-color: black;">
                            <a href="#">
                              <i class="fa fa-facebook-f"></i>
                            </a>
                          </span>
                          <span style="width: 50px; height: 45px; background-color: black;">
                            <a href="#">
                              <i class="fa fa-linkedin"></i>
                            </a>
                          </span>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="team_member_description">
              <div class="header">Чихарівський Володимир</div>
              <div class="info">Працював над <strong>Front-end</strong> частиною проекту, а саме над сутністю
                'Тести' де було реалізовано класичні операції додавання, видалення, редагування і перегляду.
                Також працював над створення перехоплювача запитів для полегшення написання функціоналу запитів.
                Окрім того працював над стилізацією проекту.
                </div>
            </div>
        </div>
        <div class="team_member">
            <div class="team_member_photo">
                <div class="flip-box">
                    <div class="flip-box-inner">
                      <div class="flip-box-front">
                        <img [src]="kravchuk" 
                        alt="Github User Image" style="width:100%;height:100%">
                      </div>
                      <div class="flip-box-back">
                        <div class="icons">
                          <span style="width: 50px; height: 45px; background-color: black;">
                            <a href="#">
                              <i class="fa fa-facebook-f"></i>
                            </a>
                          </span>
                          <span style="width: 50px; height: 45px; background-color: black;">
                            <a href="#">
                              <i class="fa fa-linkedin"></i>
                            </a>
                          </span>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="team_member_description">
              <div class="header">Кравчук Тетяна</div>
              <div class="info">Працювала над <strong>Front-end</strong> частиною проекту, а саме над сутністю
                'Адміністратори' де було реалізовано класичні операції додавання, видалення, редагування і перегляду.
                Також працювала над переходами між сутностями і формою входу на додаток. Окрім того розробила функціонал
                для проходження тестів та працювала над спільними компонентами проекту. Також розробила сторінку
                'Не знайдено' у відповідності до вимог проекту.
              </div>
            </div>
        </div>
        <div class="team_member">
            <div class="team_member_photo">
                <div class="flip-box">
                    <div class="flip-box-inner">
                      <div class="flip-box-front">
                        <img [src]="kostiuk" 
                        alt="Github User Image" style="width:100%;height:100%">
                      </div>
                      <div class="flip-box-back">
                        <div class="icons">
                          <span style="width: 50px; height: 45px; background-color: black;">
                            <a href="#">
                              <i class="fa fa-facebook-f"></i>
                            </a>
                          </span>
                          <span style="width: 50px; height: 45px; background-color: black;">
                            <a href="#">
                              <i class="fa fa-linkedin"></i>
                            </a>
                          </span>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="team_member_description">
              <div class="header">Костюк Роман</div>
              <div class="info">Працював над <strong>Front-end</strong> частиною проекту, а саме над сутністю
                'Предмети' де було реалізовано класичні операції додавання, видалення, редагування і перегляду.
                Також працював над спільними вікнами для відображення помилок. Окрім того працював над функціоналом
                для перекладу додатку.
              </div>
            </div>
        </div>
        <div class="team_member">
            <div class="team_member_photo">
                <div class="flip-box">
                    <div class="flip-box-inner">
                      <div class="flip-box-front">
                        <img [src]="shevchyk" 
                        alt="Github User Image" style="width:100%;height:100%">
                      </div>
                      <div class="flip-box-back">
                        <div class="icons">
                          <span style="width: 50px; height: 45px; background-color: black;">
                            <a href="#">
                              <i class="fa fa-facebook-f"></i>
                            </a>
                          </span>
                          <span style="width: 50px; height: 45px; background-color: black;">
                            <a href="#">
                              <i class="fa fa-linkedin"></i>
                            </a>
                          </span>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="team_member_description">
              <div class="header">Шевчук Олег</div>
              <div class="info">Працював над <strong>Front-end</strong> частиною проекту, а саме над сутністю
                'Розклад тестувань' де було реалізовано класичні операції додавання, видалення, редагування і перегляду.
                Також працював над інтерфейсом користувача, а саме виводом інформації студента який
                в даний момент часу здає тест. Окрім того розробив таймер для проходження тестів а також
                вікно підтвердження при виході з тесту.
              </div>
            </div>
        </div>
        <div class="team_member">
            <div class="team_member_photo">
                <div class="flip-box">
                    <div class="flip-box-inner">
                      <div class="flip-box-front">
                        <img [src]="khomitskyi" 
                        alt="Github User Image" style="width:100%;height:100%">
                      </div>
                      <div class="flip-box-back">
                        <div class="icons">
                          <span style="width: 50px; height: 45px; background-color: black;">
                            <a href="#">
                              <i class="fa fa-facebook-f"></i>
                            </a>
                          </span>
                          <span style="width: 50px; height: 45px; background-color: black;">
                            <a href="#">
                              <i class="fa fa-linkedin"></i>
                            </a>
                          </span>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="team_member_description">
              <div class="header">Хоміцький Юрій</div>
              <div class="info">Працював над <strong>Front-end</strong> частиною проекту, а саме над сутністю
                'Факультети' де було реалізовано класичні операції додавання, видалення, редагування і перегляду.
                Також працював над інтерфейсом користувача, а саме над навігаційною панеллю. Також створив 'Головну'
                сторінку і працював над спільними компонентами, а саме над компонентом пагінації.
              </div>
            </div>
        </div>
    </div>
</section>

