<section class="about_us">
    <div class="container">
        <div class="row">
            <div class="border"></div>
        </div>
        <div class="row">
            <div class="article">
                <div class="title">ПРО НАС</div>
                <div class="description1"> <strong>d-tester</strong>  - це веб-додаток розроблений для тестування студентів. 
                    Його основні компоненти це модуль адміністратора та модуль студента для здачі тестів.
                </div>
                <div class="description2"><strong>Back-end</strong> частина створена ментором <span class="italic">SoftServe IT Academy</span>
                    Юрієм Безгачнюком та розміщена на публічному репозиторії <a class="link" href="https://github.com/yurkovskiy/dtapi" target="_blank">GitHub</a><br>
                    <strong>Front-end</strong> частина створена командою розробників-студентів <span class="italic">SoftServe IT Academy</span> та
                    розміщена на публічному репозиторії <a class="link" href="https://github.com/roman89ua/IF-105.UI.dtapi.if.ua.io" target="_blank">GitHub</a>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="arrow"><i class="material-icons">keyboard_arrow_down</i></div>

<section class="charts">
    <h2 class="header"> Коротка статистика проекту</h2>
    <div class="charts_description">
        <div class="charts_description_item"><strong>d-tester Front-End</strong> написаний використовуючи фреймворк Angular, статистика цієї частини проекту наведена нижче
            <i class="material-icons">arrow_downward</i>
        </div>
        <div class="charts_description_item"><strong>d-tester Back-end</strong> написаний на мові програмування PHP з використанням фреймворку Kohana</div>
    </div>
    <div class="charts_container">
        <app-doughnut-chart class="charts_item"></app-doughnut-chart>
        <app-bars-chart class="charts_item"></app-bars-chart>
    </div>
</section>

<section class="team">
    <h2 class="header">Наша команда</h2>
</section>

