<div class="closeForm">
<mat-icon aria-hidden="false" aria-label="edit" class="closeForm" (click)="closeModalWindow()">close</mat-icon>
</div>

<header class="header">
    <h3>{{data.updateStudent ? 'Редагувати дані студента' : 'Додати нового студента'}}</h3>
</header>

<form [formGroup]="studentForm" (ngSubmit)="handleSubmit(studentForm.value)">
    
    <mat-form-field class="example-full-width">
        <label>
            Прізвище:
            <input class="studentInput" matInput type="text" formControlName="lastname" required>
        </label>
        <mat-error *ngIf="studentForm.get('lastname').invalid && (studentForm.get('lastname').dirty || studentForm.get('lastname').touched)">
            <span *ngIf="studentForm.get('lastname').errors.required">Поле не заповнене </span>
        </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <label>
            Ім'я
            <input class="studentInput" matInput type="text" formControlName="firstname" required>
        </label>
        <mat-error *ngIf="studentForm.get('firstname').invalid && (studentForm.get('firstname').dirty || studentForm.get('firstname').touched)">
            <span *ngIf="studentForm.get('firstname').errors.required">Поле не заповнене </span>
        </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <label>
            По-батькові:
            <input class="studentInput" matInput type="text" formControlName="fathername" required>
        </label>
        <mat-error *ngIf="studentForm.get('fathername').invalid && (studentForm.get('fathername').dirty || studentForm.get('fathername').touched)">
            <span *ngIf="studentForm.get('fathername').errors.required">Поле не заповнене </span>
        </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <label>
            Номер залікової книжки:
            <input class="studentInput" matInput type="text" formControlName="gradebookID">
        </label>
        <mat-error *ngIf="studentForm.get('gradebookID').invalid && (studentForm.get('gradebookID').dirty || studentForm.get('gradebookID').touched)">
            <span *ngIf="studentForm.get('gradebookID').errors.required">Поле не заповнене </span>
            <span *ngIf="studentForm.get('gradebookID').errors.propertyIsNotUnique">Користувач з таким номером залікової книжки вже існує</span>
        </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <label>
            Унікальне ім'я користувача в системі:
            <input class="studentInput" matInput type="text" formControlName="login">
        </label>
        <mat-error *ngIf="studentForm.get('login').invalid && (studentForm.get('login').dirty || studentForm.get('login').touched)">
            <span *ngIf="studentForm.get('login').errors.required">Поле не заповнене </span>
            <span *ngIf="studentForm.get('login').errors.propertyIsNotUnique">Такий користувач вже існує</span>
        </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <label>
            Електронна пошта:
            <input class="studentInput" matInput type="text" formControlName="email">
        </label>
        <mat-error *ngIf="studentForm.get('email').invalid && (studentForm.get('email').dirty || studentForm.get('email').touched)">
            <span *ngIf="studentForm.get('email').errors.required">Поле не заповнене </span>
            <span *ngIf="studentForm.get('email').errors.email">Введіть коректну електронну адресу</span>
            <span *ngIf="studentForm.get('email').errors.propertyIsNotUnique">Користувач з такою електронною адресою вже існує</span>
        </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <label>
            Введіть пароль:
            <input class="studentInput" matInput type="password" formControlName="password">
        </label>
        <mat-error *ngIf="studentForm.get('password').invalid && (studentForm.get('password').dirty || studentForm.get('password').touched)">
            <span *ngIf="studentForm.get('password').errors.required">Поле не заповнене </span>
            <span *ngIf="studentForm.get('password').errors.minlength">Довжина паролю повинна бути більшою ніж 8 символів</span>
        </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <label>
            Підтвердіть пароль:
            <input class="studentInput" matInput type="password" formControlName="password_confirm">
        </label>
        <mat-error *ngIf="studentForm.get('password_confirm').invalid && (studentForm.get('password_confirm').dirty || studentForm.get('password_confirm').touched)">
            <span *ngIf="studentForm.get('password_confirm').errors.required">Поле не заповнене </span>
            <span *ngIf="studentForm.get('password_confirm').errors.minlength">Довжина паролю повинна бути більшою ніж 8 символів</span>
            <span *ngIf="studentForm.get('password_confirm').errors.notEquivalent">Паролі не співпадають</span>
        </mat-error>
    </mat-form-field>

    <div class="current_student_photo" *ngIf="this.data.updateStudent && this.data.student_data.photo !=='' && showCurrentPhoto">
        <img [src]="this.data.student_data.photo" class="student_photo" alt="Student Photo">
    </div>

    <div class="current_student_photo" *ngIf="((this.data.updateStudent && this.data.student_data.photo ==='') || (!this.data.updateStudent)) && showCurrentPhoto">
        <img [src]="defaultImg" class="student_photo" alt="Student Photo">
    </div>

    <div class="example-full-width" class="container">
        <label for="file" class="photo__select">
            <button type="button" mat-raised-button (click)="fileInput.click()">
                <i class="material-icons">attach_file</i>Виберіть фотографію
            </button>
            <input hidden type="file" #fileInput class="photo__select" (change)="fileChangeEvent($event)" formControlName="photo"/>
        </label>
        <div class="cropper__container" *ngIf="openCropper && !loadImageFail">
            <div class="image__cropper">
                <h5>Crop Image</h5>
                <image-cropper 
                [imageChangedEvent]="imageChangedEvent" 
                [maintainAspectRatio]="true" 
                [aspectRatio]="4 / 4"
                [resizeToWidth]="256" 
                format="png" 
                (imageCropped)="imageCropped($event)" 
                (imageLoaded)="imageLoaded()"
                (cropperReady)="cropperReady()" 
                (loadImageFailed)="loadImageFailed()"></image-cropper>
            </div>
            <div class="image__preview">
                <h5>Preview</h5>
                <img [src]="croppedImage" />
            </div>
        </div>
        <div *ngIf="loadImageFail" class="no__image">Тип даного файлу не підтримується.<br>Будь ласка, використайте png, gif або jpg формат</div>
    </div>

    <button class="submit" mat-stroked-button color="primary" type="submit" [disabled]="!studentForm.valid" style="float: left;">{{ this.data.submitButtonText }}</button>
      
</form>
