.attachment-preview-image {
    max-width: 300px;
    max-height: 300px;
}

.admin-form {
    width: 80%;
    display: block;
    margin: 0 auto;
    max-width: 1440px;
}

.full-width {
    width: 100%;
}

.form-group {
    padding-bottom: 20px;
}

.attachment-wrapper {
    display: flex;
}

.remove-icon {
    cursor: pointer;
    margin-right: 15px;
}

.justify-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}