<div class="closeForm">
    <mat-icon aria-hidden="false" aria-label="edit" class="closeForm" (click)="closeModalWindow()">close</mat-icon>
</div>

<header class="header">
  <h3>Виберіть групу для переведення студента</h3>
</header>

<div class="container">

  <div class="selector">
    <mat-form-field class="example-full-width">
    <mat-label>Виберіть Факультет/Інститут</mat-label>
    <mat-select required placeholder="Факультет/інститут" (selectionChange)="getGroupsByFaulty($event.value)">
      <mat-option
        *ngFor="let item of FACULTIES_LIST"
        [value]="[item.faculty_id]"
      >
        {{item.faculty_name}}
      </mat-option>
    </mat-select>
    </mat-form-field>
  </div>

  <div class="selector">
    <mat-form-field class="example-full-width">
    <mat-label>Виберіть Групу</mat-label>
    <mat-select #group required placeholder="Група" (selectionChange)="getGroupId($event.value)">
      <mat-option
        
        *ngFor="let item of GROUPS_LIST"
        [value]="[item.group_id]"
      >
        {{item.group_name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  </div>

  <button mat-stroked-button color="primary" type="submit" [disabled]="(!group.value)" style="float: left;" (click)="handleSubmit()">Перевести студента</button>
</div>