.input-wrapper{
    display: block;
    width: 100%;
    margin: 20px auto;
    height: 40px;
}
.login-form-wrapper {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    img {
        margin: 20px;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, 1), 0 0 30px rgba(255, 255, 255, 1);
    }
    form {
        width: 300px;
        padding: 30px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3), inset 0 0 10px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        text-align: center;
    }
    
}
.header {
    color: black;
    border-bottom: solid 1px black;
    text-align: center;
    margin: 0;
    padding: 0 0 10px 0;
}
.butt-wrap {
    margin-bottom: 20px; 
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
    height: 40px;
    background: linear-gradient(0deg, #a9544e, #7d544c);
}

img {
    margin: 0 auto;
}

::ng-deep .login-form-wrapper {

    .mat-form-field-prefix {
        margin-right: 5px;
    }

    .mat-form-field-flex {
        align-items: flex-end;
    }

}
.float__lang__btn{
    display: flex;
    justify-content: flex-end;
    .menu__language{
        color: #ffffff;
        background: linear-gradient(0deg, #a9544e, #7d544c);
    }
}