table {
    width: 100%;
  }
  
  tr.question-answers-row {
    height: 0;
  }
  
  .question-row td {
    border-bottom-width: 0;
  }
  
  .question-answers {
    overflow: hidden;
    display: flex;
  }
