  <a routerLink="new">New question</a>

  <table mat-table #table
       [dataSource]="questions" multiTemplateDataRows
       class="mat-elevation-z8">

    <ng-container matColumnDef='No'>
        <th mat-header-cell *matHeaderCellDef> № </th>
        <td mat-cell *matCellDef="let question; let i = dataIndex;"> 
            {{ i+1 }}
        </td>
    </ng-container>

    <ng-container matColumnDef="{{column}}" *ngFor="let column of ['question_text', 'question_id']">
        <th mat-header-cell *matHeaderCellDef> {{column}} </th>
        <td mat-cell *matCellDef="let question"> {{question[column]}} </td>
    </ng-container>

    <ng-container matColumnDef='answers'>
        <th mat-header-cell *matHeaderCellDef> Show answers </th>
        <td mat-cell *matCellDef="let question"> 
           <button (click)="expandQuestionAnswers(question.question_id, question)">Answers</button>
        </td>
    </ng-container>

    <ng-container matColumnDef='delete'>
        <th mat-header-cell *matHeaderCellDef> Delete </th>
        <td mat-cell *matCellDef="let question"> 
            <button (click)="deleteQuestion(question.question_id)">Delete</button>
        </td>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedQuestion">
        <td mat-cell *matCellDef="let question" [attr.colspan]="5">
            <div class="question-answers" [@answersExpand]="question == expandedQuestion ? 'expanded' : 'collapsed'">
                <div *ngIf="question.answers.length && question.answers !== 'No answers were added to this question'">
                    <li *ngFor="let answer of question.answers">
                        <span>{{answer.answer_text}}</span>
                        <span *ngIf="+answer.true_answer"> True answer </span>
                    </li>
                </div>
                <div *ngIf="question.answers === 'No answers were added to this question'">
                    {{ question.answers }}
                </div>
                <div *ngIf="!question.answers.length">
                    Loading...
                </div>
            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['No', 'question_text', 'question_id', 'answers', 'delete']"></tr>
    <tr mat-row *matRowDef="let question; columns: ['No', 'question_text', 'question_id', 'answers', 'delete'];"
        class="question-row"
        [class.example-expanded-row]="expandedQuestion == question">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedQuestion'];" class="question-answers-row"></tr>
</table>
