<h3 mat-dialog-title>{{data.description.title}}</h3>
<div mat-dialog-content>
  <mat-form-field class="example-full-width">
    <input
      matInput
      [(ngModel)]="data.data.group_name"
      placeholder="Шифр групи"
      #name="ngModel" required
     >
      <mat-error *ngIf="name.invalid">
        Слід <strong>обовязково</strong> вказати шифр групи 
      </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Спеціальність</mat-label>
    <mat-select [(ngModel)]="data.data.speciality_id" name="speciality_id" #speciality="ngModel" required>
      <mat-option
        *ngFor="let item of specialities"
        [value]="item.speciality_id"
      >
        {{item.speciality_name}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="speciality.invalid">
      Слід <strong>обовязково</strong> вибрати спеціальність 
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Інститут/факультет</mat-label>
    <mat-select [(ngModel)]="data.data.faculty_id" name="faculty_id" #faculty="ngModel" required>
      <mat-option
        *ngFor="let item of faculties"
        [value]="item.faculty_id"
      >
        {{item.faculty_name}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="faculty.invalid">
      Слід <strong>обовязково</strong> вибрати інститут чи факультет
    </mat-error>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button mat-dialog-close cdkFocusInitial>Відмінити</button>
  <button mat-raised-button [mat-dialog-close]="data.data" color="warn" [disabled]="name.invalid || speciality.invalid || faculty.invalid">
    <mat-icon aria-hidden="false" aria-label="save">save</mat-icon>
    {{data.description.action}}
  </button>
</div>
