<form [formGroup]="answerForm">
    <mat-form-field class="full-width">
        <mat-label *ngIf="+questionType === 4 && index === 0">Мінімальне</mat-label>
        <mat-label *ngIf="+questionType === 4 && index === 1">Максимальне</mat-label>
        <input
            (change)="changeAnswerDataHandler()"
            matInput
            formControlName="answer_text"
            placeholder="Текст відповіді"
        />
        <!-- <div *ngId>
            {{ questionAnswer.error }}
        </div> -->
        
        <mat-error 
                class="form-group"
                *ngIf="answerText.errors?.noAnswer">
                
        </mat-error>
    </mat-form-field>
    <div *ngIf="answerText.errors?.noAnswer">
        1877
    </div>
    <div *ngIf="questionAnswer.error">
        {{ questionAnswer.error }}
    </div>
    <div *ngIf="questionType < 3">
        <div  class="form-group justify-between">
            <mat-checkbox
                (change)="changeAnswerDataHandler()"
                formControlName="true_answer" 
                [checked]="questionAnswer.true_answer == 1" >
                Відповідь правильна
            </mat-checkbox>
            <div>
                Зображення
                <button mat-raised-button (click)="attachmentInput.click()">
                    <mat-icon aria-hidden="false" aria-label="expand">attach_file</mat-icon>
                </button>
                <input 
                    hidden
                    #attachmentInput
                    type="file"
                    (change)="attachmentUploadHandler($event)">
                <input
                    (change)="changeAnswerDataHandler()"
                    type="hidden" 
                    formControlName="attachment"
                    value="questionAnswer.attachment">
            </div>
        </div>
        <div *ngIf="answerAttachment.value" class="attachment-wrapper form-group">
            <mat-icon 
                aria-hidden="false"
                color="warn"
                class="remove-icon"
                aria-label="delete"
                (click)="removeImage()">
                close</mat-icon>
            <img 
                [src]="answerAttachment.value"
                alt="attachment"
                class="attachment-preview-image">
            
        </div>
    </div>
    <div class="form-group">
        <button
        color="warn"
        mat-raised-button
        (click)="deleteAnswer(questionAnswer.answer_id)"
        *ngIf="questionType < 4">
        Видалити відповідь</button>
    </div>
</form>    
