h3 {
    text-align: center;
}

.toolbar {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 1em 0;
}

.filter {
    width: 100%;
    font-size: 14px;
    padding: 0 8em;
}

table {
    width: 100%;
}

.mat-elevation-z8,
.btn-wrapper {
    width: 90%;
    margin: 0 auto;
    padding-top: 1em;
}

.mat-form-field {
    font-size: 14px;
}

.mat-icon {
    margin-right: 2em;
}

.delete:hover {
    color: red;
}

.edit:hover {
    color: orange;
}

.date_range:hover {
    color: green;
}