<div class="admin_panel">
    <nav class="navbar">
        <a routerLink="students">Students section</a>
        <a routerLink="exams">Exams</a>

        <!-- The place to add router links for new entities -->
    </nav>
    <router-outlet></router-outlet>
</div>
<mat-toolbar >
    <mat-nav-list>
        <mat-list-item >
           <a matLine routerLink='students'>Students</a>
        </mat-list-item>
        <mat-list-item >
            <a matLine routerLink='faculties'>Faculties</a>
         </mat-list-item>
         <mat-list-item >
            <a matLine routerLink="group">Groups</a>
         </mat-list-item>
      </mat-nav-list>
</mat-toolbar>
<router-outlet></router-outlet>
