a {
    padding: 10px;
}
.fill-space {
    flex:1 1 auto;
}
.mat-nav-list {
    display: flex;  
}
.mat-toolbar {}
.mat-grid-list {}

.example-card { 
  display: flex;
  flex-direction: column;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 90%;
}
.container {
  margin: 0 auto;
width: 100%;

}
