<mat-toolbar >
    <mat-nav-list>
        <mat-list-item >
           <a matLine routerLink='students'>Students</a>
        </mat-list-item>
        <mat-list-item >
            <a matLine routerLink='faculties'>Faculties</a>
         </mat-list-item>
         <mat-list-item >
            <a matLine routerLink="group">Groups</a>
         </mat-list-item>
         <mat-list-item >
            <a matLine routerLink="admin-user">User Admins</a>
         </mat-list-item>
      </mat-nav-list>
      <span class="fill-space"></span>
      <button mat-button [matMenuTriggerFor]="menu">{{(authService.getCurrentUser() | async)?.username}}</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logoutHandler()">Log out</button>
        
      </mat-menu>
</mat-toolbar>
<router-outlet></router-outlet>
