<h3>{{ !data ? "Додавання" : "Редагування" }} предмета</h3>

<form [formGroup]="addSubject" class="form-control " #addsubject="ngForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">

        <mat-label>Предмети</mat-label>

        <input matInput formControlName="subject_name" placeholder="Назва предмета" />

        <button type="button" mat-button *ngIf="subject_name.value" matSuffix mat-icon-button aria-label="Clear" (click)="subject_name.reset()">
      <mat-icon>close</mat-icon>
    </button>

        <mat-error *ngIf="subject_name.invalid && (subject_name.dirty || subject_name.touched)">
            {{ getErrorMessage(subject_name) }}
        </mat-error>

        <mat-hint></mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Опис предмета</mat-label>
        <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="5" cdkAutosizeMaxRows="10" formControlName="subject_description" placeholder="Опис">
        </textarea>
        <button type="button" mat-button *ngIf="subject_description.value" matSuffix mat-icon-button aria-label="Clear" (click)="subject_description.reset()">
            <mat-icon>close</mat-icon>
        </button>
        <mat-error *ngIf="subject_description.invalid &&(subject_description.dirty || subject_description.touched)">
            {{ getErrorMessage(subject_description) }}
        </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" class="btn" [disabled]="!data ? addSubject.invalid : addSubject.invalid || !(subject_name.dirty || subject_description.dirty)" type="submit">
            {{ !data ? "Додати" : "Редагувати" }}
        </button>
    <button cdkFocusInitial mat-flat-button color="warn" type="button" class="btn" (click)="onDismiss()">
    Відмінити
  </button>
</form>