<h3 mat-dialog-title>{{data.description.title}}</h3>
<div mat-dialog-content>
  <mat-form-field class="example-full-width">
    <mat-label>Рівень</mat-label>
    <mat-select [(ngModel)]="data.data.level" name="level" #level="ngModel" required>
      <mat-option
        *ngFor="let value of levels"
        [value]="'' + value"
      >
        {{ value }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="!level">
      Слід <strong>обов'язково</strong> рівень питання
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input
      matInput
      [(ngModel)]="data.data.tasks"
      placeholder="Кількість завдань"
      #tasks="ngModel" required
    >
    <mat-error *ngIf="tasks.invalid">
      Слід <strong>обов'язково</strong> вказати кількість завдань
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input
      matInput
      [(ngModel)]="data.data.rate"
      placeholder="Кількість балів"
      #rate="ngModel" required
    >
    <mat-error *ngIf="rate.invalid">
      Слід <strong>обов'язково</strong> вказати кількість балів
    </mat-error>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>Відмінити</button>
  <button
    mat-raised-button
    [mat-dialog-close]="data.data"
    color="warn"
    [disabled]="!level || tasks.invalid || rate.invalid"
  >
    <mat-icon aria-hidden="false" aria-label="save">save</mat-icon>
    {{data.description.action}}
  </button>
</div>
