<h3 mat-dialog-title>
  Виберіть
  <span *ngIf="data.action == 'getGroupsBySpeciality'"> спеціальність</span>
  <span *ngIf="data.action == 'getGroupsByFaculty'"> інститут/факультет</span>
</h3>
<div mat-dialog-content>
  <div [hidden]="data.action == 'getGroupsByFaculty'">
    <mat-form-field class="example-full-width">
      <mat-label>Спеціальність</mat-label>
      <mat-select [(ngModel)]="data.id" name="id" #choice="ngModel" required >
        <mat-option
          *ngFor="let item of specialities"
          [value]="item.speciality_id"
        >
          {{ item.speciality_name }}
        </mat-option>
        </mat-select>
    </mat-form-field>
  </div>
  <div [hidden]="data.action == 'getGroupsBySpeciality'">
    <mat-form-field class="example-full-width">
    <mat-label>Інститут/факультет</mat-label>
    <mat-select [(ngModel)]="data.id" name="id">
      <mat-option *ngFor="let item of faculties" [value]="item.faculty_id">
        {{ item.faculty_name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-raised-button mat-dialog-close cdkFocusInitial>Відмінити</button>
  <button mat-raised-button [mat-dialog-close]="data" color="warn" [disabled]="choice.invalid">
    <mat-icon aria-hidden="false" aria-label="search">search</mat-icon>
    Показати
  </button>
</div>
