<h3>Виберіть {{data.description.title}}</h3>
<form [formGroup]="selectViewForm" (ngSubmit)="onSubmit()">
  <mat-form-field *ngIf="data.description.action == 'getGroupsBySpeciality'" class="example-full-width">
    <mat-label>Спеціальність</mat-label>
    <mat-select formControlName="id" placeholder="Виберіть спеціальність">
      <mat-option
        *ngFor="let item of data.listSpeciality"
        [value]="[item.speciality_id, item.speciality_name]"
      >
        {{item.speciality_name}}
      </mat-option>
    </mat-select>
    <mat-error>
      Виберіть спеціальність 
    </mat-error>
  </mat-form-field>
  <mat-form-field *ngIf="data.description.action == 'getGroupsByFaculty'" class="example-full-width">
    <mat-label>Факультет/Інститут</mat-label>
    <mat-select formControlName="id" placeholder="Виберіть факультет/інститут">
      <mat-option
        *ngFor="let item of data.listFaculty"
        [value]="[item.faculty_id, item.faculty_name]"
      >
        {{item.faculty_name}}
      </mat-option>
    </mat-select>
    <mat-error>
      Виберіть факультет/інститут 
    </mat-error>
  </mat-form-field>
  <button mat-stroked-button color="primary" type="submit" [disabled]='selectViewForm.invalid'>
    <mat-icon aria-hidden="false" aria-label="search">search</mat-icon>
    Показати
  </button>
  <button mat-stroked-button color="primary" type="button" cdkFocusInitial (click)="onDismiss()">Відмінити</button>
</form>