.breadcrumb {
    background: none;
    font-size: 1em;
    margin: 0;
    // a, span {
    //     // color: darkgrey;
    // }
    a:hover, span:hover {
        // color: rgb(68, 67, 67);
        text-decoration: none;
    }
    li{
        list-style: none;
        float: left;
        margin: 5px;
    }
    li:last-child {
        margin-right: 20px;
    }
    li::after {
        content: '>';
        // color: darkgrey;
    }
    li:last-child::after {
        content: ''
    }
}