<h3 mat-dialog-title>{{data.description.title}}</h3>
<div mat-dialog-content>
  <div>
    <mat-form-field class="example-full-width">
      <mat-label>Група</mat-label>
      <mat-select [(ngModel)]="data.data.group_id" name="group_id" #group="ngModel">
        <mat-option *ngFor="let group of groups" [value]="group.group_id">
          {{group.group_name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="example-full-width">
      <mat-label>Предмет</mat-label>
      <mat-select [(ngModel)]="data.data.subject_id" name="subject_id" #subject="ngModel">
        <mat-option *ngFor="let subject of subjects" [value]="subject.subject_id">
          {{subject.subject_name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput [matDatepicker]="picker"
             placeholder="Виберіть дату"
             name="start_date" ngModel
             #dateCtrl="ngModel"
             required
             [(ngModel)]="data.data.start_date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker disabled="false"></mat-datepicker>
      <mat-error *ngIf="dateCtrl.errors?.required && dateCtrl.touched">Виберіть дату!</mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput placeholder="Виберіть годину"
             name="start_time" ngModel
             [(ngModel)]="data.data.start_time">
      <mat-hint>Формат часу: 09:35</mat-hint>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button mat-dialog-close cdkFocusInitial>Відмінити</button>
    <button mat-raised-button [mat-dialog-close]="data.data" color="warn">
      <mat-icon aria-hidden="false" aria-label="save">save</mat-icon>
      {{data.description.action}}
    </button>
  </div>
</div>
