<h3 mat-dialog-title>{{data.description.title}}</h3>
<form mat-dialog-content [formGroup]="addEditForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="example-full-width">
      <mat-label>Група</mat-label>
      <mat-select formControlName="group_id">
        <mat-option *ngFor="let group of groups" [value]="group.group_id">
          {{group.group_name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Предмет</mat-label>
      <mat-select formControlName="subject_id">
        <mat-option *ngFor="let subject of subjects" [value]="subject.subject_id">
          {{subject.subject_name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="picker"
             placeholder="Виберіть дату"
             formControlName="start_date"
             [value]="data.data.start_date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker disabled="false"></mat-datepicker>
<!--      <mat-error *ngIf="dateCtrl.errors?.required && dateCtrl.touched">Виберіть дату!</mat-error>-->
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Виберіть годину"
             formControlName="start_time"
             [value]="data.data.start_time">
      <mat-hint>Формат часу: 09:35</mat-hint>
    </mat-form-field>
    <button mat-stroked-button color="primary" type="submit">
      <mat-icon aria-hidden="false" aria-label="save">save</mat-icon>
      {{data.description.action}}
    </button>
  <button mat-stroked-button mat-dialog-close cdkFocusInitial (click)="onDismiss()">Відмінити</button>
</form>
