<h3>{{data ? 'Редагувати' : 'Додати нову спеціальність'}}</h3>
<form class="input-wrapper" [formGroup]="specialityForm">
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Код спеціальності" formControlName="speciality_code">
        <mat-error *ngIf="hasError('speciality_code', 'required')">Це поле є обов'язковим</mat-error>
        <mat-error *ngIf="hasError('speciality_code', 'pattern')">Це поле може містити тільки цифри</mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Назва спеціальності" formControlName="speciality_name">
        <mat-error *ngIf="hasError('speciality_name', 'required')">Це поле є обов'язковим</mat-error>
    </mat-form-field>

    <button mat-stroked-button color="primary" (click)="addSpeciality()">
        Підтвердити
    </button>

    <button mat-stroked-button color="primary" (click)="closeSpecialityFormDialog()">
        Скасувати
    </button>
</form>
