<form class="input-wrapper" [formGroup]="specialityForm">
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Speciality Code" formControlName="speciality_code">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Speciality Name" formControlName="speciality_name">
    </mat-form-field>

    <button mat-flat-button class="button-margin" color="primary" (click)="addSpeciality()">
        Submit
    </button>

    <button mat-flat-button class="button-margin" color="primary" (click)="closeSpecialityFormDialog()">
        Cancel
    </button>
</form>