body {
  font-size: 1rem;
  line-height: 1.6;
}
.container {
  margin: 0 auto;
  padding: 1rem;
}
.header {
  display: flex;
  justify-content: space-between;
  margin: 10px 20px;
  align-items: center;
}
button {
    margin-left: 5px;
}
table {
    width: 100%;
}
mat-form-field {
    width: 100%;
  }
<<<<<<< HEAD

.question-link {
    color: #000;
}
=======
mat-icon {
  cursor: pointer;

  &:hover {
    &[aria-label="edit"] {
      color: orange;
    }
    &[aria-label="delete"] {
      color: red;
    }
  }
}



>>>>>>> master
