body {
  font-size: 1rem;
  line-height: 1.6;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 10px 20px;
  align-items: center;
}

.subject-input {
  margin: 10px 20px;
}
.container {
  margin: 0 auto;
  padding: 1rem;
}

mat-form-field, table {
  width: 100%;
}

.actions {
  display: flex;
  justify-content: center;
}

mat-icon {
  cursor: pointer;

  &:hover {
    &[aria-label="edit"] {
      color: orange;
    }
    &[aria-label="delete"] {
      color: red;
    }
  }
}

.no-time {
  width: 100%;
  //height: 10%;
  padding: 4em;
  text-align: center;
  font-size: 30px;
  color: rgba(0,0,0,.32);
}
