<h3>{{!data? 'Додавання' : 'Редагування'}} факультету</h3>
 <form [formGroup]="addForm" class="form-control " #addform="ngForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
        <mat-label>Факультет</mat-label>
        <input
        matInput
        formControlName="faculty_name"
        placeholder="Введіть факультет"
        />
        <button type="button" mat-button *ngIf="addForm.get('faculty_name').value" matSuffix mat-icon-button aria-label="Clear" (click)="addForm.get('faculty_name').reset()">
            <mat-icon>close</mat-icon>
          </button>
        <mat-error *ngIf="addForm.get('faculty_name').invalid && (addForm.get('faculty_name').dirty || addForm.get('faculty_name').touched)">{{
        getErrorMessageName(addForm)
        }}</mat-error>

        <mat-hint></mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Опис</mat-label>
        <textarea matInput
                    cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="5"
                    cdkAutosizeMaxRows="10"
                    formControlName="faculty_description"
                    placeholder="Введіть опис">
                </textarea>
                <button type="button" mat-button *ngIf="addForm.get('faculty_description').value" matSuffix mat-icon-button aria-label="Clear" 
                (click)="addForm.get('faculty_description').reset()">
                    <mat-icon>close</mat-icon>
                  </button>
                <mat-error *ngIf="addForm.get('faculty_description').invalid && (addForm.get('faculty_description').dirty || addForm.get('faculty_description').touched)" >{{
                    getErrorMessageDescription(addForm)
                    }}</mat-error>
        </mat-form-field>
    <button
        mat-raised-button
        color="primary"
        class="btn"
        [disabled]="!data? addForm.invalid : addForm.invalid || !(addForm.get('faculty_name').dirty || addForm.get('faculty_description').dirty)"
        type="submit">
        {{!data? 'Додати' : 'Редагувати'}}
    </button>
    <button mat-flat-button color="warn" type="button"  class="btn" (click)="onDismiss()">Відмінити</button>
</form>

