  <!-- <a routerLink="new">New question</a> -->
  <ng-template #loadingBlock>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </ng-template>
  <a mat-raised-button class="add-link" color="prime" routerLink="new">
    <mat-icon aria-hidden="false" aria-label="add">add</mat-icon>
    Додати питання
  </a>
  <table mat-table #table
       [dataSource]="questions" multiTemplateDataRows
       class="mat-elevation-z8"
       *ngIf="!loadingQuestions; else loadingBlock">

    <ng-container matColumnDef='No'>
        <th mat-header-cell *matHeaderCellDef> № </th>
        <td mat-cell *matCellDef="let question; let i = dataIndex;"> 
            {{ i+1 }}
        </td>
    </ng-container>

    <ng-container matColumnDef="question_text">
        <th mat-header-cell *matHeaderCellDef> Текст </th>
        <td mat-cell *matCellDef="let question"> {{ question.question_text }} </td>
    </ng-container>

    <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Тип </th>
        <td mat-cell *matCellDef="let question"> {{ question.type | questionType }} </td>
    </ng-container>

    <ng-container matColumnDef="level">
        <th mat-header-cell *matHeaderCellDef> Рівень </th>
        <td mat-cell *matCellDef="let question"> {{ question.level }} </td>
    </ng-container>

    <ng-container matColumnDef='answers'>
        <th mat-header-cell *matHeaderCellDef> Відповіді </th>
        <td mat-cell *matCellDef="let question"> 
           <button [disabled]="question.question_id === loadingQuestionId" class="button-with-spinner" mat-raised-button color="primary" (click)="expandQuestionAnswers(question.question_id)">
               <span *ngIf="question.question_id === loadingQuestionId" class="spinner-wrapper">
                   <mat-spinner color="warn" [diameter]="25"></mat-spinner>
               </span>
               <span [ngStyle]="{'visibility': question.question_id === loadingQuestionId ? 'hidden' : 'visible'}" class="button-with-spinner-inner">
                 Відповіді
                <mat-icon
                 [@rotateIcon]="question == expandedQuestion ? 'expanded' : 'collapsed'"
                 aria-hidden="false"
                 aria-label="expand">expand_more</mat-icon>
               </span>
            </button>
        </td>
    </ng-container>

    <ng-container matColumnDef='delete'>
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let question" class="actions"> 
            <!-- <mat-icon aria-hidden="false" aria-label="edit" (click)="editGroupDialog(group)">edit</mat-icon> -->
            <mat-icon aria-hidden="false" aria-label="delete" (click)="deleteQuestion(question.question_id)">delete</mat-icon>
        </td>
    </ng-container>

    <ng-container matColumnDef="expandedQuestion">
        <td mat-cell *matCellDef="let question" [attr.colspan]="6">
            <div class="question-answers" [@answersExpand]="question == expandedQuestion ? 'expanded' : 'collapsed'">
                <div *ngIf="question.answers.length && question.answers !== 'No answers'">
                    <mat-list>
                        <div *ngFor="let answer of question.answers; let i=index;">
                            <mat-list-item>
                                <ng-container *ngIf="+question.type !== 4">
                                    <span>
                                        {{ answer.answer_text }}
                                    </span>
                                    <mat-icon 
                                        aria-hidden="false" 
                                        class="true-answer-icon" 
                                        *ngIf="+answer.true_answer === 1">check_circle_outline
                                    </mat-icon>
                                </ng-container >
                                <span *ngIf="+question.type === 4 && i === 0">
                                    Діапазон {{ question.answers[0].answer_text }} - {{ question.answers[1].answer_text }}
                                </span>
                            </mat-list-item>
                            <img 
                                *ngIf="answer.attachment"
                                [src]="answer.attachment"
                                class="attachmet-preview-image" >
                        </div>
                    </mat-list>
                </div>
                <div *ngIf="question.answers === 'No answers'">
                    <mat-list>
                        <mat-list-item>
                            Це питання не має відповідей
                        </mat-list-item>
                    </mat-list>
                </div>
            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['No', 'question_text', 'type', 'level', 'delete', 'answers']"></tr>
    <tr mat-row *matRowDef="let question; columns: ['No', 'question_text', 'type', 'level', 'delete', 'answers'];"
        class="question-row"
        [class.example-expanded-row]="expandedQuestion == question">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedQuestion'];" class="question-answers-row"></tr>
</table>
