table {
    width: 100%;
    th {
        text-align: center;
    }
    td {
        border-left: 2px solid white;
        padding: 0px 0.5em;
    }
}
.trueAnswer {
    background-color: #e6ffe6;
}
.falseAnswer {
    background-color: #ffe6e6;
}